/*GLOBAL*/

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", open-sans;
  box-sizing: border-box;
  color: white;
  background: black;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 50px;
}

h1,
h2,
h3,
h4 {
  color: inherit;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-transform: uppercase;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*HEADER*/

/*SUPPORTING*/

/*BANNER*/

/*FOOTER*/

.footer {
  padding: 60px 0;
}

.footer .column {
  width: 17%;
  float: left;
}

.footer ul li a {
  font-size: 13px;
  color: #aaa;
  display: block;
  margin-top: 14px;
}

.footer:after { /*Clearfix*/
  content: "";
  clear: both;
  display: block;
}

/*MEDIA QUERIES*/
